.show-red-pen .red-pen-mark-intensify {
  background-color: #bbfabba6;
}
.show-red-pen .red-pen-mark-passive {
  background-color: #adccffa6;
}
.show-red-pen .red-pen-mark-readability {
  background-color: #ffb86ca6;
}
.show-red-pen .red-pen-mark-simplify {
  background-color: #ffb8eba6;
}
