.show-retext .retext-mark-intensify {
  background-color: #bbfabba6;
}
.show-retext .retext-mark-passive {
  background-color: #adccffa6;
}
.show-retext .retext-mark-readability {
  background-color: #ffb86ca6;
}
.show-retext .retext-mark-simplify {
  background-color: #ffb8eba6;
}
